---
---

body {
  $border: 1px solid black;
  background-color: #222;
  margin: 0px;
  main {
    background-color: white;
    border: $border;
    border-radius: 3px;
    margin: 0px auto 10px;
    max-width: 800px;
    padding: 5px 15px 10px;
    position: relative;
    a:visited {
      color: purple;
    }
    blockquote {
      font-size: 1.2em;
    }
    code {
      color: #333;
    }
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 2.6em;
    }
    h3 {
      font-size: 2.2em;
    }
    h4 {
      font-size: 1.8em;
    }
    h5 {
      font-size: 1.4em;
    }
    h6 {
      font-size: 1em;
    }
    h1, h2, h3, h4, h5, h6 {
      border-bottom: $border;
      padding-bottom: 2px;
      margin-bottom: 16px;
    }
    hr {
      border-top: $border;
    }
    ol, ul {
      margin-left: 14px;
      padding-left: 14px;
    }
    p {
      /* Otherwise paragraphs after *nested* lists are too close. TODO why? */
      margin-top: 5px;
    }
    pre {
      margin-left: 0px;
      /*padding-left: 0px;*/
    }
    table {
      border-collapse: collapse;
      border: $border;
      margin-bottom: 15px;
      text-align: left;
    }
    table tr > :not(:last-child) {
      white-space: nowrap;
      width: 1px;
    }
    td, th {
      border: $border;
      padding: 2px 4px;
    }
    th {
      font-weight: bold;
    }
  }

  /* Header links */
  h2, h3, h4, h5, h6 {
    .header-link {
      opacity: 0;
    }
    &:hover .header-link {
      opacity: 1;
    }
  }
}
