body {
  background-color: #222;
  margin: 0px;
}

div.content, div.comments {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0px auto 10px;
  max-width: 800px;
  padding: 5px 15px 10px;
  position: relative;
}
div.content h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-bottom: 16px;
}
div.content p {
  /* Otherwise paragraphs after *nested* lists are too close. TODO why? */
  margin-top: 5px;
}
div.content ul, div.content ol {
  /*list-style-position:inside;*/
  margin-left: 14px;
  padding-left: 14px;
}
div.content > ul, div.content > ol {
}
div.content a:visited {
  color: purple;
}
/* Override the above */
div.content .sidebar a:visited {
  color: #28F;
}
div.content .sidebar a:hover {
  color: red;
}
div.content table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-bottom: 15px;
  text-align: left;
}
div.content table tr > :not(:last-child) {
  white-space: nowrap;
  width: 1px;
}
div.content td, div.content th {
  border: 1px solid black;
  padding: 2px 4px;
}
div.content th {
  font-weight: bold;
}
div.content pre {
  margin-left: 0px;
  /*padding-left: 0px;*/
}
div.page-title, .comments .title {
  border-bottom: 1px solid black;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

div.content ul[data-toc],
div.content ol[data-toc],
div.content ul.toc
{
  font-weight: bold;
  margin-left: 30px;
  padding-left: 0px;
}

#sharethis {
  height: 30px;
  margin-top: 7px;
  padding-right: 5px;
}
#sharethis > div:not(:last-child) {
  display: inline-block;
}
/* Breaks with bootstrap without this: http://stackoverflow.com/questions/18165901/twitters-bootstrap-3-with-sharethis-widget*/
#sharethis span {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*#addthis*/
/*.addthis_toolbox {*/
  /*border-top: 1px solid black;*/
  /*padding-top: 10px;*/
/*}*/
