<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.gravatar.com/avatar/c979bd881b6755f84947a5a8ecc7c6f7.png" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/main.css"/>
    <link rel="stylesheet" href="assets/syntax.css"/>
  </head>
  <body>
    <div class="content">
      <h1>{{ page.title }}</h1>
      <div>
        <div id="sharethis">
          <!--Github star count: https://github.com/mdo/github-buttons-->
            <!--<iframe src="http://ghbtns.com/github-btn.html?user=cirosantilli&amp;repo=cirosantilli.github.io&amp;type=watch&amp;count=true"-->
            <!--style="background-color:transparent; border:none;" width="110" height="20"></iframe>-->
          <!-- #ShareThis share -->
            <!-- #INVALID HTML5: https://getsatisfaction.com/sharethis/topics/attribute_displaytext_is_not_valid_xhtml -->
            <div class='st_googleplus_hcount' displayText='Google +'></div>
            <div class='st_twitter_hcount' displayText='Tweet'></div>
            <div class='st_facebook_hcount' displayText='Facebook'></div>
            <!--<span class='st_linkedin_hcount' displayText='LinkedIn'></span>-->
            <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({publisher: "b6a81f16-5bb1-46de-83c8-6b4c3e94ec99", doNotHash:false, doNotCopy:true, hashAddressBar:false});</script>
        </div>
          <!-- #AddThis share -->
            <!-- #AddThis share -->
              <!--<div class="addthis_toolbox addthis_default_style addthis_32x32_style">-->
                <!--<a class="addthis_button_preferred_1"></a>-->
                <!--<a class="addthis_button_preferred_2"></a>-->
                <!--<a class="addthis_button_preferred_3"></a>-->
                <!--<a class="addthis_button_preferred_4"></a>-->
                <!--<a class="addthis_button_compact"></a>-->
                <!--[><a class="addthis_counter addthis_bubble_style"></a><]-->
              <!--</div>-->
              <!--<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>-->
              <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fa75284b95ab82"></script>-->
            <!-- #AddThis share counts -->
              <!--<div class="addthis_toolbox addthis_counter_style">-->
                <!--<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>-->
                <!--<a class="addthis_button_tweet" tw:count="vertical"></a>-->
                <!--<a class="addthis_button_google_plusone" g:plusone:size="tall"></a>-->
                <!--<a class="addthis_counter"></a>-->
              <!--</div>-->
              <!--<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>-->
              <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fa75284b95ab82"></script>-->
            <!-- #AddThis follow -->
              <!--<div class="addthis_toolbox addthis_32x32_style addthis_default_style">-->
                <!--<a class="addthis_button_facebook_follow" addthis:userid="cirosantilli"></a>-->
                <!--<a class="addthis_button_twitter_follow" addthis:userid="cirosantilli"></a>-->
                <!--<a class="addthis_button_google_follow" addthis:userid="106598607405640635523"></a>-->
              <!--</div>-->
              <!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fa75284b95ab82"></script>-->
      </div>
      {{ content }}
    </div>
    <!--google analytics-->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-47867706-1', 'cirosantilli.github.io');
        ga('send', 'pageview');
      </script>
  </body>
</html>
